#customize-preview #slideOut { display:none!important;}
#slideOut {
    position: fixed;
    width: 330px;
    height: 200px;
    top: 68px;
    right: -290px;
    z-index: 999999;
}
#slideClick{
	float:left;
    height:40px;
    width:40px;
       background: #FFF none repeat scroll 0% 0%;
    line-height: 1;
    border-radius: 0px;
    margin: 0px;
    pointer-events: auto;
box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
#slideClick img {
	width: 25px;
height: 25px;
left: 8px;
position: absolute;
top: 8px;
}
#slideOutContainer {
	width:290px;
	height:290px;
	float:right;
	background:white;
	font-size: 14px;
	font-weight: bold;
	font-family: arial, sans-serif;
	box-shadow:0px 14px 30px -1px rgba(0, 0, 0, 0.2), 0px 24px 51px 0px rgba(0, 0, 0, 0.14), 0px 23px 10px 0px rgba(0, 0, 0, 0.12)
}
#slideTitle {
	height:20px;
	background:#fff;
box-sizing:padding-box;
	width:100%;
	padding: 10px;
	color:#C0C6CE;
display: block;
margin-bottom: 18px;
}
#slideContent {
	background:#fff;
	width: 100%;
	height: 230px;
	padding: 10px;
    padding-right: 13px;
	color: #C0C6CE;
	box-sizing:padding-box;
	text-transform: uppercase;
	text-align: center;
	overflow-y:auto;
}
#slideFooter {
    height: 40px;
    background: #fff;
    width: 100%;
    padding: 10px;
    color: #C0C6CE;
    box-sizing: padding-box;
    font-weight: bold;
    text-decoration: none;
}
#slideFooter a {
	text-decoration: none;
	color: inherit;
}
#slideFooter a:hover {color:#9EA3AA;}




#slideOut.original #slideClick {
    float: left;
    height: 40px;
    width: 40px;
    background: #EE8D40 none repeat scroll 0% 0%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#slideOut.light #slideOutContainer, #slideOut.light #slideTitle, #slideOut.light #slideContent, #slideOut.light #slideFooter, #slideOut.light #slideClick { background:#fff; }

#slideOut.dark #slideOutContainer, #slideOut.dark #slideTitle, #slideOut.dark #slideContent, #slideOut.dark #slideFooter, #slideOut.dark #slideClick { background:#23282D; }

.swatch {
    height: 30px;
    width: 90%;
    border: 2px #9EA3AA solid;
    line-height: 30px;
    padding-left: 7px;
    border-top: 0px;
    box-sizing: padding-box;
}
.swatch:nth-child(1){
	border-top:2px solid #9EA3AA;
}
.swatchIcon {
	height:10px;
	width:10px;
	border:2px #000 solid;
		display:inline-block;
	float:left;
	margin-top: 9px;
}
.swatchIcon::after {
    content: "";
    position: relative;
    bottom: 17px;
    left: 3px;
    width: 0px;
    height: 0px;
    border-bottom: 4px solid #FFF;
    border-left: 4px solid transparent;
}
.swatchName {
	display:inline-block;
	float:left;
	width:140px;
}
.swatchHex {
	display: inline-block;
	float:left;
	width:100px;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
.NoouSwatches-fieldrow .colorpicker {
	display:none !important;
}